@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.otp-verification-page { 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  position: relative; 
  width: 100%;
  

  .logo-image {
    position: absolute;
    top: 15px;
    right: 50px;
    
    img {
      max-width: 100px; 
      height: auto;
    }
  }

  .otp-container {
    width: 100%;
    max-width: 900px; 
    margin-top: 25vh;
    padding: 40px 40px;
    padding-bottom: 80px;
    border-radius: 8px;
    text-align: center;
    background-color: #ffffff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 

    .appname_otp { 
        margin-top: 30px;
      margin-bottom: 20px;
      color: #0A3500; 
      font-size: 24px;
      font-weight: 700;
      user-select: none;
    }

    h2 {
      margin-bottom: 20px;
      color: #333333;
      user-select: none;
    }

    p {
      margin-bottom: 20px;
      font-size: 15px;
      color: #555;
      user-select: none;
    }

    .message {
      padding: 10px;
      border-radius: 4px;
      margin-bottom: 15px;
      font-weight: 500;

      &.success {
        background-color: #d4edda;
        color: #155724;
        border: 1px solid #c3e6cb;
      }

      &.error {
        background-color: #f8d7da;
        color: #721c24;
        border: 1px solid #f5c6cb;
      }
    }

    .otp-box {
      margin-bottom: 20px;
      text-align: left;

      input {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 18px; 
        text-align: center; 

        &:focus {
          outline: none;
          border-color: #4D7E29;
        }
      }
    }

    .verify-button,
    .resend-otp-button {
      width: 50%; 
      padding: 10px;
      font-size: 16px;
      font-weight: 600;
      color: white;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      margin-top: 10px; 
      transition: background-color 0.3s ease;

      &:disabled {
        opacity: 0.7;
        cursor: not-allowed;
      }
    }

    .verify-button {
      background-color: #074522; 
      margin-left: 8px;

      &:hover {
        background-color: #053319;
      }
    }

    .resend-otp-button {
      background-color: #4D7E29;
      margin-left: 10px; 

      &:hover {
        background-color: #3a6220;
      }
    }

    p {
      margin-top: 20px;
      font-size: 14px;
      color: #0A3500;

      a {
        color: #4D7E29;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}